APP_KEY=wATZ52sJHpuyVxNhLtC7bPzvYGKj4n3f
APP_PORT=8000
APP_BASE_URL=http://localhost:8000
APP_DASH_URL=http://localhost:8000/dash
APP_API_BASE_NAME=api
DB_DRIVER=mysql
DB_NAME=fastschema
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=123
DB_LOGGING=false
DB_DISABLE_FOREIGN_KEYS=false
DB_USE_SOFT_DELETES=false
STORAGE='{"default_disk":"public","disks":[{"name":"public","driver":"local","root":"./public","public_path":"/","base_url":"http://localhost:8000/"},{"name":"my_s3","driver":"s3","root":"/files","provider":"DigitalOcean","endpoint":"sfo3.digitaloceanspaces.com","region":"sfo3","bucket":"my_bucket","access_key_id":"s3_access_key_id","secret_access_key":"s3_secret_access_key","base_url":"https://cdn.site.local"}]}'
AUTH='{"enabled_providers":["github","google"],"providers":{"local":{"activation_method":"email","activation_url":"","recovery_url":""},"github":{"client_id":"xxxxxxxxxxxxxxxxxxxx","client_secret":"xxx"},"google":{"client_id":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com","client_secret":"xxx"},"twitter":{"consumer_key":"twitter_consumer_key","consumer_secret":"twitter_consumer_secret"}}}'
MAIL='{"sender_name":"FastSchema","sender_mail":"contact@fastschema.com","default_client":"mailtrapsmtp","clients":[{"name":"mailtrapsmtp","driver":"smtp","host":"smtp.mailtrap.io","port":2525,"username":"your-username","password":"your-password"}]}'
